@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6%;
    --primary: 259 69% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 1% 65%;
    --secondary-foreground: 0 0% 6%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 6%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 40%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.KFSDetailsKey {
  @apply text-[#5322ba] text-sm font-semibold tracking-[0.5px] items-baseline mb-0 px-0 py-2 border-b border-[#5322ba] border-solid;
}
.KFSDetailsValue {
  @apply text-right text-xs text-black font-semibold mb-0 py-2 border-[#5322ba]  border-b;
}
